<!doctype html>
<html lang="en" ng-app="todoApp">
    <head>
        <title>To Do Application</title>
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
        <script src="bower_components/angular/angular.js"></script>
        <!-- ngResource provides interaction support with RESTful services via $resource -->
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <style>
        .done{text-decoration: line-through; color:#ccc;}
        </style>
    </head>

<body>
    <div ng-controller="todoAppController as appCtrl">
        <form>
            <input type="text" placeholder="Add a task.." ng-model="appCtrl.taskToAdd">
            <button ng-click="appCtrl.addTask()">Add</button>
        </form>
        
        <div class="task-container">
            <ul class="task-list">
                <li ng-repeat="task in appCtrl.tasks">
                    <input type="checkbox" ng-model="task.done">
                    <!-- name of name/val pair will be used as css class name if val evals to true -->
                    <input ng-class="{'done':task.done}" ng-model="task.title">
                    <button ng-click="appCtrl.deleteTask($index)">x</button>
                </li>
            </ul>  
        </div>
        <span class="remaining-tasks">You still have {{ appCtrl.tasksRemaining() }} tasks left to do</span><br>
        <button>Show All Tasks</button>
        <button>Show Completed Tasks</button>
        <button>Show Outstanding Tasks</button>
    </div>

<script src="js/app.js"></script>
<script src="js/controllers/todoAppController.js"></script>
</body>

</html>